.accbg{
    background-image: url("../image/p1");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    
}
.accdiv{
    float:left;
    margin-left: 17vw;
}
p{
    color: red;
}
p1{
    color:black;
}