.depside{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../image/p1');
    background-repeat: no-repeat;
    background-size: cover;
}

.dep{
    margin-right: 25vw;
    margin-top: 25vh;
}